<%- include('includes/head.ejs') %>

<div class="container">
  <h1><%= title %></h1>
  <div>
    <h3>User logs</h3>
    <p><code>GET /api/users/:_id/logs?[from][&to][&limit]</code></p>
    <ul>
      <li><strong>username:</strong> <%= username %></li>
      <li><strong>logs:</strong> <%= userLogs %></li>
    </ul>
  </div>
</div>

<%- include('includes/end.ejs') %>
