<%- include('includes/head.ejs') %>

<div class="container">
  <h1><%= title %></h1>
  <ul>
    <h3>Your user</h3>
    <p><code><%= code %></code></p>
    <li>
      <p><strong>_id:</strong> <%= id %></p>
      <p><strong>username:</strong> <%= username %></p>
    </li>
  </ul>
</div>

<%- include('includes/end.ejs') %>
